<!-- Begin page content -->
<div class="container-fluid px-6">
  <%= render "fixture_new_modal" %>
  <div class="card">
    <h2>Fixtures</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Vessel</th>
            <th>Voy</th>
            <th>Charterer</th>
            <th>Demurrage</th>
            <th>Fixture</th>
            <th>Required</th>
            <th>ETC</th>
            <th>Voyage Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="fixtures-table">

          <% @fixtures.each do |fixture| %>
            <%= render "fixture_index_row", fixture: fixture %>
          <% end %>

        </tbody>
      </table>
    </div>
  </div>
</div>
