// Define variables for your color scheme

// For example:
$red: #ee5f5b;
$blue: #469ae0;
$yellow: #fdb631;
$orange: #e67e22;
$green: #32b796;
$gray: #000000;
$light-gray: #f4f4f4;
$dark-sky-blue: #92afd7;
$baby-powder: #fdfff7;
$tumbleweed: #d3a588;
$magic-mint: #a6ece0;
$cadet: #5c6d70;
$colombia-blue: #c0d6df;
$white-smoke: #f4f4f4;
$dark-gray: #333;
$bright-blue: #78C0E0;
$soft-white: #dee2e6;
