div.form-group.text.required.clause_wording,
div.form-group.text.required.clause_wording.form-group-valid,
label.form-control-label.text,
label.form-control-label.text.required,
textarea.form-control.is-valid.text.required,
textarea#clause_wording.form-control.text.required {
  text-align: left !important;
  color: #212529 !important;
  font-family: "Open Sans", "Helvetica", "sans-serif" !important;
  font-size: 1.125rem !important;
  line-height: 1.5rem !important;
  position: relative !important;
  letter-spacing: 0px !important;
  top: 0 !important;
}
