<button class="blob-btn">
  Go to Fixtures
  <span class="blob-btn__inner">
    <span class="blob-btn__blobs">
      <span class="blob-btn__blob"></span>
      <span class="blob-btn__blob"></span>
      <span class="blob-btn__blob"></span>
      <span class="blob-btn__blob"></span>
    </span>
  </span>
</button>
