<!-- Fixed footer -->
<div class="container-fluid px-6">
<footer class="footer footer-expand-lg footer-light custom-footer">
  <div class="py-3">
    Created by the <a href="/about">Chronos Team</a>.
  </div>
</footer>
</div>
