<div class="btn col-md-4 svg-wrapper">
  <svg height="60" width="200" xmlns="http://www.w3.org/2000/svg">
    <rect class="shape" height="60" width="200" />
  </svg>
  <%= link_to "Run Chronos", run_chronos_fixture_events_path, method: :post, class: "btn btn-curious-blue" %>
</div>
