<div class="container-fluid px-6">
  <div class="card">
    <h2>Chronos Team</h2>
    <h3>Le Wagon Batch #204 - Rio de Janeiro</h3>

  </div>


    <div class="d-flex justify-content-center">
      <div class="member-card">
        <div class="foto-wrap" id="CEO">
        </div>
        <div class="member-name">
          <p>Richard Van Den Broek</p>
        </div>
      </div>
    </div>


    <div class="d-flex justify-content-around">
      <div class="member-card">
        <div class="foto-wrap" id="Steven">
        </div>
        <div class="member-name">
          <p>Steven Bowen</p>
        </div>
      </div>
      <div class="member-card">
        <div class="foto-wrap" id="Justin">
        </div>
        <div class="member-name">
          <p>Justin Holt</p>
        </div>
      </div>
      <div class="member-card">
        <div class="foto-wrap" id="Manuel">
        </div>
        <div class="member-name">
          <p>Manuel Winzler</p>
        </div>
      </div>
    </div>


  </div>
