<div class="definitions">

  <div class="mt-3 pb-3">
    <h2 class="definitions__word">
      Laytime
    </h2>

    <blockquote class="definitions__quotes">
    <h3 class="definitions__text old-def">
      The period of time allowed by a shipowner to a carrier to carry out cargo loading or discharging operations.
    </h3>
    <h3 class="definitions__text new-def" style="display: none">
      THE (AGREED UPON) AMOUNT OF TIME IT TAKES TO LOAD AND UNLOAD CARGO.
    </h3>
    </blockquote>
  </div>

  <div class="mt-5">
    <h2 class="definitions__word">
      Demurrage
    </h2>
    <blockquote class="definitions__quotes">
    <h3 class="definitions__text old-def">
      The compensation payable to a carrier of freight whose vehicle or vessel is
      delayed, as by failure to load or unload the freight within the time allowed.
    </h3>
    <h3 class="definitions__text new-def" style="display: none">
      LATE FEE!!!
    </h3>
  </div>

</div>
