<div class="home-container">

  <div class="banner">
    <div class="banner-content">
      <%= image_tag("hourglass.jpeg", class: "banner-watermark") %>
      <h1>CHRONOS</h1>
      <p>Fully automated laytime management system</p>
      <%= link_to definitions_path do %>
        <%= render "shared/blob_button" %>
      <% end %>
    </div>
  </div>
</div>
