/* Banner CSS file */
.home-container {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), image-url("ocean2.jpeg");
  color: ivory;
  text-align: center;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 1vh => 1% of viewport height */
  display: flex;
  flex-wrap: wrap;
}

.banner-watermark {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.4;
  height: 100vh;
}

.banner-content {
  background-size: cover;
  letter-spacing: 4px;
}

.banner-content p {
  font-weight: lighter;
  margin-bottom: 50px;
}

.banner-btn {
  background-color: ivory;
}

.hamburger {
  top: 0 !important;
  right: 0 !important;
  padding-right: 0.5rem;
  padding-top: 1rem;
  font-size: 32px;
}

.fa-1x {
  color: #003C5F;
  font-size: 2rem;
}

.home-modal {
  color: black;
}

// Sign in page modal

.flip-container {
  // -webkit-perspective: 1000;
  // -moz-perspective: 1000;
  // -o-perspective: 1000;
  //  perspective: 1000;
 }
/* flip the pane when hovered */
.flip-container.hover .flipper, .flip-container.hover .flipper {
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
-o-transform: rotateY(180deg);
transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 100%;
 }

/* flip speed goes here */
.flipper {
 -webkit-transition: 0.6s;
 -webkit-transform-style: preserve-3d;
 -moz-transition: 0.6s;
 -moz-transform-style: preserve-3d;
 -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
 transition: 0.6s;
 transform-style: preserve-3d;
 position: relative;
 }

 /* hide back of pane during swap */
 .front, .back {
  -webkit-backface-visibility: hidden;
 -moz-backface-visibility: hidden;
 -o-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateX(0deg);/*fixes a bug in firefox in backface visibility*/
  }

  /* front pane, placed above back */
 .front {
   z-index: 2;
  }

/* back, initially hidden pane */
.back {
   -webkit-transform: rotateY(180deg);
 -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
 transform: rotateY(180deg);
 }

/*hourglass image original*/
/* https://www.kisspng.com/png-hourglass-water-stock-photography-bladder-4329045/ */
