#chronos-btn:focus {
  box-shadow: none;
}

.svg-wrapper {
  height: 60px;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
  text-align: center;
}

.shape-chronos {
  fill: transparent !important;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: $bright-blue;
}

.hover-text {
  color: black;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape-chronos {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}
