#navbar-title {
  font-size: 36px;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0.5rem;
  font-weight: 700;
}

.custom-col {
  font-size: 20px;
  background-color: $dark-gray;
  border-bottom: 2px solid $bright-blue;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.nav-link {
  color: white !important;
}

.logo-url:hover {
  color: transparent !important;
}

.logo-col {
  color: white !important;
  }

.logo-col:focus {
  outline: 0 !important;
}

.navbar {
  align-items: center !important;
  padding: 0.5rem 0rem;
}
